/*  your css code here. If applicable */

:root{
	background-color:rgb(135, 206, 235);	
}
div p:first-child{
	background-color:black;
	color:white;
}
div p:nth-child(2){
	background-color:inherit;
}

div p:last-child{
	color:red;
}

ul li {
      background: gray;
      width: 50%;
      padding: 10px;
      list-style: none;
    }

ul li:nth-child(odd) {
      background: white;
    }

ul li:first-child,
ul li:last-child {
      font-size: 22px;
    }

ul li:nth-last-child(3) {
      background: pink;
    }